@import './commons';

.card {
    @include display-flex(column, center, center);
    transform: translateY(0);
    transition: transform $transition-time;
    border-radius: 10px;
    width: 320px;
    height: 300px;
        @media (max-width: get-screen-size('extra-large')){
            width: 330px;
            height: 320px;
        }
        @media (max-width: get-screen-size('large')){
            width: 360px;
            height: 340px;
        }
        @media (max-width: get-screen-size('small')){
            width: 90vw;
            height: 420px;
        }
    border: 1px solid;
    box-shadow: -2px 3px 5px get-color('dark-secondary');

    &--dark {
        @include dark();
    }

    &--light {
        @include light();
    }

    &:hover {
        transform: translateY(-10px);
        transition: transform $transition-time;
    }

    #{&}__title {
        padding-left: 14%;
        font-weight: get-font-weight('subtitle');
        margin: 15px 0;
        font-size: get-font-size('card-title');
    }

    #{&}__description {
        padding-left: 14%;
        font-weight: get-font-weight('description');
        margin: 15px 0;
        color: get-color('light-secondary');
        font-weight: get-font-weight('title');
    }
}