@import './commons';

.cards {
    display: grid;
    row-gap: 200px;
    grid-template-rows: 100px 1fr;
    @include grid-alignment(center, center);

    #{&}__title {
        text-align: center;
        font-weight: get-font-weight('title');
        font-size: get-font-size('title');
    }

    #{&}__container {
        display: grid;
        @include grid-alignment(center, center);
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        @media (max-width: get-screen-size('extra-large')){
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: get-screen-size('large')){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: get-screen-size('small')){
            grid-template-columns: 1fr;
        }
    }
}
