@import './common/functions';
@import './common/mixins';

.side-navbar {
    @include side-navbar($width: 300px);

    &::-webkit-scrollbar {
        @include webkit-scrollbar-hidden();
    }

    #{&}__arrow {
        @include side-navbar-arrow();
        transform: translateX(45%);
        transition: transform 0.5s;
    }

    &__brand {
        @include side-navbar-brand();
        padding: 0 20px;
    }

    #{&}__profile-picture {
        @include side-navbar-profile-picture($size: 80px);
    }

    #{&}__user-name {
        text-align: center;
        grid-column: span 2;
        margin-bottom: 20px;
        font-size: 1.6rem;
    }

    &__separator {
        border-top: none;
        border-left: none;
        border-right: none;
        grid-column: span 2;
        width: 70%;
        margin-bottom: 20px;
        border-color: get-color('light-secondary');
    }

    #{&}__action {
        @include flex-container($direction: row, $justify: flex-start, $align: center);
        @include side-navbar-action($font-size: 1.3rem, $padding-x: 40px);

        svg {
            margin-right: 20px;
        }

        &:hover, &:active {
            @include side-navbar-action-hover-active();
        }
    }

    @media (max-width: 340px) {
        #{&}__arrow {
            visibility: hidden;
        }
    }

    // More info: https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
}

.side-navbar--deactivated {
    @include side-navbar($width: 70px);

    &::-webkit-scrollbar {
        @include webkit-scrollbar-hidden();
    }

    .side-navbar__arrow--deactivated {
        @include side-navbar-arrow();
        transition: transform 0.5s;
        transform: rotate(180deg) translateX(-45%);
    }

    .side-navbar__brand--deactivated {
        @include side-navbar-brand();
    }

    .side-navbar__profile-picture--deactivated {
        @include side-navbar-profile-picture($size: 40px);
    }

    .side-navbar__user-name--deactivated {
        display: none;
    }

    .side-navbar__action--deactivated {
        @include side-navbar-action($font-size: 1.9rem, $padding-x: 0);
        margin-right: 0;
        display: block;
        text-align: center;

        span {
            display: none;
        }

        &:hover, &:active {
            @include side-navbar-action-hover-active();
        }
    }
}
