@import './common/functions';

.review-star {
    cursor: pointer;

    path {
        fill: get-color('dark-secondary')
    }

    :hover path {
        fill: get-color('gold');
    }

    &:hover ~ & path {
        fill: get-color('gold');
    }

    &:focus path {
        fill: get-color('gold');
    }

    &:focus ~ & path {
        fill: get-color('gold');
    }
}
