@import 'common';

#reviewFormOverlay {
    @include flex-container($direction: column);
    background-color: #00000079;
    position: absolute;
    top: 0;
    z-index: 314159;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in;

    &.hidden {
        visibility: hidden;
    }

    &.fadeout {
        opacity: 0;
        transition: opacity 0.3s ease-in;
    }

    & .review-form {
        @include flex-container($direction: column);
        background-color: white;
        transform: translateX(52px);
        padding: 30px;
        border-radius: 7px;
        box-shadow: 0 3px 14px #00000066;

        label {
            font-weight: 900;
            margin-bottom: 5px;
        }

        input {
            text-align: center;
            border: none;
            border-bottom: 1px solid black;
        }

        input, select, textarea {
            margin-bottom: 20px;
        }

        textarea {
            resize: none;
        }

        .review-form__required {
            color: red;
        }

        .review-form__close-icon {
            position: absolute;
            top: 13px;
            right: 15px;
            cursor: pointer;
        }
    }
}