@import 'common';

.review-star {
    cursor: pointer;
}

.review-star path {
    fill: grey;
}

.review-star:hover path {
    fill: yellow;
}

.review-star:hover ~ .review-star path {
    fill: yellow;
}

.review-star:focus path {
    fill: yellow;
}

.review-star:focus ~ .review-star path {
    fill: yellow;
}