@import './common/functions';

.app-form__star-container {
    label path {
        fill: get-color('dark-secondary')
    }

    input {
        display: none;
    }

    label {
        cursor: pointer;
    }

    label:hover path,
    label:hover ~ label path,
    input:checked ~ label path {
        fill: get-color('gold');
    }
}
