@import './common/mixins';
@import './common/functions';

.review-form-overlay {
    background-color: get-color('overlay');
    position: absolute;
    top: 0;
    z-index: 314159;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in;

    &--hidden {
        visibility: hidden;
        height: 0;
    }

    &--fadeout {
        opacity: 0;
        transition: opacity 0.3s ease-in;
    }
}

.review-form {
    @include flex-container($direction: column);
    background-color: get-color('light-primary');
    position: relative;
    top: 15%;
    left: 38%;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 3px 14px get-color('shadow');
    width: 25%;

    label {
        font-weight: 900;
        margin-bottom: 5px;
    }

    input {
        margin-bottom: 25px;
        text-align: center;
        border: none;
        border-bottom: 1px solid get-color('dark-primary');
    }

    textarea {
        resize: none;
    }

    input, select, textarea, #{&}__star-container {
        margin-bottom: 20px;
        background-color: unset;
    }

    button {
        @include submit-button($size: 10px);
    }

    #{&}__required {
        color: get-color('danger');
    }

    #{&}__close-icon {
        position: absolute;
        top: 13px;
        right: 15px;
        cursor: pointer;
    }

    #{&}__star-container {
        @include flex-container($direction: row-reverse);
    }

    @media (max-width: 548px) {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        padding: 0;
    }

    @media (max-height: 645px) {
        padding-left: 0;
        padding-right: 0;
        top: 0;
        left: 0;
        width: 100vw;
    }
}
