$colors: (
    'dark-primary': #10141b,
    'dark-secondary': #37475E,
    'light-primary': #f8f4ec,
    'light-secondary': #83828142,
    'light-primary-faded': #f8f4ec86,
    'light-blue': #93B9FA
);

@function get-color($color) {
    @return map-get($colors, $color);
}

@mixin flex-container($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin vertically-centered-block($is-inline: false) {
    margin-left: auto;
    margin-right: auto;
    @if $is-inline {
        display: inline-block;
    } @else {
        display: block;
    }
}

@mixin rounded-image($size) {
    width: $size;
    height: $size;
    object-fit: cover;
    border-radius: 50%;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../assets/fonts/Catamaran/Catamaran-VariableFont_wght.ttf');
}